<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alerts</title>
    <link rel="stylesheet" href="alert_style.css"> <!-- Link to external CSS file -->
</head>
<body>
    <!-- navbar -->
    <% layout("/layouts/boilerplate.ejs") %>

    <!-- Alerts Section -->
    <section id="alerts">
        <div class="container">
            <h2>Alerts</h2>
            <div class="card">
                <ul>
                    <li>Low Balance Warning</li>
                    <li>Overload Alert</li>
                    <li>Disconnection Warning</li>
                </ul>
            </div>
        </div>
    </section>

    <script src="/js/dashboard.js"></script> <!-- Link to external JavaScript file -->
</body>
</html>
